{
  "short_description": "{{ short_description }}",
  "description": "{{ description }}",
  "impact": "{{ impact_as_integer }}",
  "urgency": "{{ urgency_as_integer }}",
  "category": "{{ category }}",
  "state": "{{ state_as_integer }}"
}